@page "/add-budget-item"
@inject IDbContextFactory<BudgetAppDbContext> ContextFactory;
@inject StateContainer StateContainer;
@using budget_app.Shared

<h2>Add Budget Item</h2>

<BudgetItemForm BudgetItem="@BudgetItem"
Categories="@Categories"
ItemTypes="@ItemTypes"
IsBusy="@IsBusy"
OnSubmit="@HandleSubmit"/>

    @if(SuccessMessage is not null)
    {
        <br />
        <div class="alert alert-success">@SuccessMessage</div>
    }

     @if(ErrorMessage is not null)
    {
        <br />
        <div class="alert alert-danger">@ErrorMessage</div>
    }
