@page "/"
@page "/budget-summary"
@inject BudgetSummaryService BudgetSummaryService
@inject StateContainer StateContainer
@inject BudgetItemService BudgetItemService

<h2>Budget Summary</h2>

@if(StateContainer.CurrentUserId is null){
    <p><em>Loading...</em></p>
}
else{
    <table class="table table-light">
        <thead class="table-primary">
            <tr>
                <th>Compiled Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Current Balance</td>
            </tr>
            <tr>
                <td>@Math.Round(BudgetSummaryCompiledDetails.CurrentBalance, 2)</td>
            </tr>
            <tr>
                <td>Remaining Expenses</td>
            </tr>
            <tr>
                <td>@Math.Round(BudgetSummaryCompiledDetails.RemainingExpenses, 2)</td>
            </tr>
            <tr>
                <td>Remaining Incomes</td>
            </tr>
            <tr>
                <td>@Math.Round(BudgetSummaryCompiledDetails.RemainingIncomes, 2)</td>
            </tr>
            <tr>
                <td>Future Adjustments Positive</td>
            </tr>
            <tr>
                <td>@Math.Round(BudgetSummaryCompiledDetails.AdjustmentsPositive, 2)</td>
            </tr>
            <tr>
                <td>Future Adjustments Negative</td>
            </tr>
            <tr>
                <td>@Math.Round(BudgetSummaryCompiledDetails.AdjustmentsNegative, 2)</td>
            </tr>
            <tr>
                <td>Totals Balanced</td>
            </tr>
            <tr>
            </tr>
                <td>@Math.Round(BudgetSummaryCompiledDetails.TotalsBalanced, 2)</td>
        </tbody>
    </table>

    <table class="table table-light w-auto">
        <thead class="table-primary">
            <tr>
                <th>Month</th>
                <th>Projected Difference By Month</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>January</td>
                <td>@Math.Round(BudgetSummaryTotalsTracking.JanuaryDifference, 2)</td>
            </tr>
            <tr>
                <td>February</td>
                <td>@Math.Round(BudgetSummaryTotalsTracking.FebruarayDifference, 2)</td>
            </tr>
            <tr>
                <td>March</td>
                <td>@Math.Round(BudgetSummaryTotalsTracking.MarchDifference, 2)</td>
            </tr>
            <tr>
                <td>April</td>
                <td>@Math.Round(BudgetSummaryTotalsTracking.AprilDifference, 2)</td>
            </tr>
            <tr>
                <td>May</td>
                <td>@Math.Round(BudgetSummaryTotalsTracking.MayDifference, 2)</td>
            </tr>
            <tr>
                <td>June</td>
                <td>@Math.Round(BudgetSummaryTotalsTracking.JuneDifference, 2)</td>
            </tr>
            <tr>
                <td>July</td>
                <td>@Math.Round(BudgetSummaryTotalsTracking.JulyDifference, 2)</td>
            </tr>
            <tr>
                <td>August</td>
                <td>@Math.Round(BudgetSummaryTotalsTracking.AugustDifference, 2)</td>
            </tr>
            <tr>
                <td>September</td>
                <td>@Math.Round(BudgetSummaryTotalsTracking.SeptemberDifference, 2)</td>
            </tr>
            <tr>
                <td>October</td>
                <td>@Math.Round(BudgetSummaryTotalsTracking.OctoberDifference, 2)</td>
            </tr>
            <tr>
                <td>November</td>
                <td>@Math.Round(BudgetSummaryTotalsTracking.NovemberDifference, 2)</td>
            </tr>
            <tr>
                <td>December</td>
                <td>@Math.Round(BudgetSummaryTotalsTracking.DecemberDifference, 2)</td>
            </tr>
            <tr>
                <td>Total</td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <table class="table table-light w-auto">
        <thead class="table-primary">
            <tr>
                <th>Changes to Projected Balance</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Copied Projected Balance (week)</td>
                <td>Copied Projected Balance (month)</td>
                <td>Copied Projected Balance (year)</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Difference (week)</td>
                <td>Difference (month)</td>
                <td>Difference (year)</td>
            </tr>
            <tr>
                <td>@Math.Round(BudgetSummaryTotalsTracking.CurrentWeekDifference, 2)</td>
                <td>@Math.Round(BudgetSummaryTotalsTracking.CurrentMonthDifference, 2)</td>
                <td>@Math.Round(BudgetSummaryTotalsTracking.CurrentYearDifference, 2)</td>
            </tr>
        </tbody>
    </table>
}