@page "/user-details"
@inject IDbContextFactory<BudgetAppDbContext> ContextFactory;
@using budget_app.Shared

<h2>User Details</h2>

@if(User is null)
{
    <div class="alert alert-danger">Budget Item was not found</div>
}
else
{
    <BudgetItemForm BudgetItem="@BudgetItem"
            IsBusy="@IsBusy"
            IsEdit="true"
            OnSubmit="@HandleSubmit"
            OnCancel="@NavigateToSummary"/>
}

@if(ErrorMessage is not null)
{
    <br/>
    <div class="alert alert-danger">@ErrorMessage</div>
}